<!DOCTYPE html>
<!--
  Name : Yinan Du 
  Date: 05-01-2021
  Section: CS 355
This is the instructor homepage
  -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="custom-nav">
      <div class="container">
        <a href="/instructor-homepage" class="navlink-logo"
          ><img src="/images/qcfirst.jpeg" alt="qcfirst-img"
        /></a>
        <button onclick="togglemenu()" class="burger-menu">
          Menu <i class="fas fa-bars"></i>
        </button>
        <div id="toggleMenu" class="nav-items">
          <a class="nav-links" href="/add-course">Create Course</a>
          <button onclick="logout()" class="nav-links nav-links-btn">
            Logout
          </button>
        </div>
      </div>
    </nav>
    <main class="container">
      <h1 class="main-heading">
        <img src="/images/course-icon.png" alt="" /> Your courses
      </h1>
      <div class="handle-overflow">
        <table class="list-table">
          <tr>
            <th>Course Name</th>
            <th>Semester</th>
            <th>Department</th>
            <th>Capacity</th>
            <th>Schedule</th>
            <th>Students enrolled</th>
            <th>Student roster</th>
            <th>Action</th>
          </tr>
          <tbody id="courseList"></tbody>
        </table>
      </div>
    </main>

    <section class="scholar">
      <div class="container">
        <img src="/images/education.jpg" alt="image" />
      </div>
    </section>
    <footer class="footer">
      <p>Copyright 2021 (Yinan and Khadija)</p>
    </footer>
    <script
      src="https://kit.fontawesome.com/9e28beb911.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/Jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/instructor.dashboard.js"></script>
  </body>
</html>
